VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Supabase Backend Configuration
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=templates

# GitHub Integration
GITHUB_TOKEN=
GITHUB_REPO=templr-metadata
GITHUB_OWNER=
GITHUB_REPO_LIST=owner/repo1,owner/repo2
VITE_GITHUB_OWNER=
VITE_GITHUB_REPO=templr-metadata

# GitLab Integration
GITLAB_TOKEN=
GITLAB_PROJECT_LIST=project_id_1,project_id_2,akua67771/temprl-2

# Repository Settings
REPO_THRESHOLD=1000

# ImgBB Integration
IMGBB_API_KEY=
